/* .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login-or .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.btn.btn-primary.btn-fb {
    background: #3b5999;
}

.alert-success {
    background-color: #D4EDDA;
    color: #111111;
}

.swal-footer {
    text-align: center;
}

.image-blog {
    bottom: 0;
    font-family: "object-fit: cover;";
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.btn-facebook {
    align-items: center;
    background: #1877f2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 4px;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    margin: 0;
    width: 100%;
}

.btn-facebook:hover {
    opacity: 0.9;
    color: #fff;
}
 */

/* Ngành đào tạo */
.bage-custom-lg {
    cursor: pointer;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 1.25rem;
    margin-right: 27px;
}

.bage-custom-lg:hover {
    box-shadow: 10px 10px 30px -20px rgba(0, 0, 0, 0.75);
    color: #fff;
}


.bage-custom-lg .style1 {
    background: #ff2a2a;
}


.title-h3 {
    width: 100%;
    text-align: center;
    color: #0d4e96;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    /* padding-bottom: 14px; */
    font-weight: 500;
}

.box-title-nganh {
    color: #0d4e96;
    line-height: 26px;
    font-size: 20px;
    padding-top: 7px;
    width: 100%;
    text-align: center;
    /* min-height: 55px; */
}

/* Ngành đào tạo */
.carrer-name-lg {
    color: #0000CD;
    font-weight: bold;
    font-size: 22px;

}

.carrer-name-sm {
    color: #0000CD;
    font-weight: bold;
    font-size: 18px;

}

.carrer-name {
    color: #0000CD;
    font-weight: bold;
    font-size: 15px;

}

.carrer-name-2 {
    font-weight: bold;
    font-size: 15px;
    color: #FF0000;
}

.carrer-name-3 {
    font-size: 15px;
    color: #FF0000;
}

.carrer-name-4 {
    font-weight: bold;
    font-size: 15px;
}